<div ng-controller="editedListController as editedList" ng-init="editedList.init()" class="col-sm-9 page col-right">
    <a>
        <strong>
            <i class="glyphicon glyphicon-film"></i>
            已入库
        </strong>
    </a>
    <hr>
    <input ng-model="editedList.keywords" />
    <button>搜索</button>
    <div class="form-group">
        <label>类型</label><br>
        <div ng-show="editedList.noCategotyData">查无数据</div>
        <span ng-repeat="category in editedList.categoryList track by $index"><input type="checkbox"   ng-model="this.value" ng-click="editedList.chooseCateory(category.ID,this.value)">{{category.CategoryName[editedList.defaultLang]}}</span>
    </div>
    <div class="form-group">
        <label>产地</label><br>
        <div ng-show="editedList.noLocationData">查无数据</div>
        <span ng-repeat="location in editedList.locationList track by $index"><input type="checkbox"   ng-model="this.value" ng-click="editedList.chooseLocation(location.ID,this.value)">{{location.LocationName[editedList.defaultLang]}}</span>
    </div>
    <hr class="break-space">
    <div ng-show="editedList.loading">Loading...</div>
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>名称</th>
                <th>类型</th>
                <th>产地</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr data-copy="10">
                <td>星际迷航</td>
                <td>爱情；科幻</td>
                <td>韩国</td>
                <td>
                    <button ng-click="editedList.edit()" class="btn btn-xs btn-default" title="编辑">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </button>
                    <button class="btn btn-xs btn-default" title="删除">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-show="editedList.loading">查无数据</div>
</div>
