<!--fix my css-->
<div style="position: absolute; top: 0; z-index: 1000; overflow: auto; height: 100%;"  ng-controller="editMovieInfoController as editMovieInfo" ng-init="editMovieInfo.init()">
    
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button ng-click="editMovieInfo.cancel()" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">编辑信息</h4>
            </div>
            <form>
                <div class="modal-body">
                    
                        <div class="form-group">
                            <label>名称</label>
                            <input type="text" class="form-control" value="星际迷航">
                        </div>
                        <hr>
                        <div class="form-group">
                            <label>类型</label>
                            <input type="checkbox">恐怖 <input type="checkbox">爱情
                        </div>
                        <hr>
                        <div class="form-group">
                            <label>产地</label>
                            <input type="checkbox">中国 <input type="checkbox">韩国
                        </div>
                        <hr>
                        <div class="form-group">
                            <label>封面</label>
                            <a class=" pull-right">
                                <p>上传</p>
                            </a>
                            <hr class="break-space">
                            <div>
                                <img class="img-responsive center-block" src="api/poster1.jpg">
                                <h6 class="text-center">IMG_001.jpg</h6>
                            </div>
                            <input type="file" class="hide">
                        </div>
                        <hr>
                        <div class="form-group">
                            <label>简介</label>
                            <textarea style="height: 150px;" type="text" class="form-control">《星际迷航》（Star Trek，又译作《星际旅行》等）是由美国派拉蒙影视制作的科幻影视系列。由5部电视剧、1部动画片、12部电影组成。该系列最初由编剧吉恩·罗登贝瑞（Gene Roddenberry）于20世纪60年代提出，经过近40年的不断发展而逐步完善，成为全世界最著名的科幻影视系列之一。</textarea>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label>价格</label>
                            <input type="number" class="form-control">
                        </div>
                        <hr>
                        <label>影片大小</label>
                        <h5>1G</h5>
                        <hr>
                        <div class="form-group">
                            <label>上映年份</label>
                            <input type="text" class="form-control">
                        </div>
                        <hr>
                        <div class="form-group">
                            <label>导演</label>
                            <input type="text" class="form-control">
                        </div>
                        <hr>
                        <div class="form-group">
                            <label>演员</label>
                            <input type="text" class="form-control">
                        </div>
                        <hr>
                        <div class="form-group">
                            <label>排序</label>
                            <input type="number" class="form-control">
                        </div>
                        <hr>
                        <div class="form-group">
                            <label>首字母（拼音大写缩写）</label>
                            <input type="text" class="form-control">
                        </div>
                        <hr>
                        <div class="form-group">
                            <label>评分（总分10分，精确到一位小数，例如：9.7）</label>
                            <input type="text" class="form-control">
                        </div>
                </div>
                <div class="modal-footer">
                    <a ng-click="editMovieInfo.cancel()" class="btn">取消</a>
                    <button class="btn btn-primary" type="submit">保存修改</button>
                </div>
            </form> 
        </div>
    </div>

</div>